[submodule "nix-exprs"]
	path = nix-exprs
	url = git@gitlab.com:jD91mZM2/nur-packages.git
	branch = master
[submodule "forks/st"]
	path = forks/st
	url = git@gitlab.com:jD91mZM2/st.git
	branch = master
