# Temporary directory for aliases that depends on the hash of this
# file.
dir="${TMPDIR:-/tmp}/$(sha256sum "$BASH_SOURCE" | cut -d' ' -f1)-stow-path-dir"

# Unless already created, re-create dir
if ! [ -e "$dir" ]; then
    mkdir "$dir"

    # Create stow wrapper
    cat > "$dir/stow" <<EOF
#!/bin/sh
"$(which stow)" -t ~ "\$@"
EOF
    chmod +x "$dir/stow"
fi

# Add directory to path
PATH_add "$dir"
