# Temporary directory for aliases
dir="${TMPDIR:-/tmp}/$(sha256sum "$BASH_SOURCE" | cut -d' ' -f1)-stow-path-dir"
PATH_add "$dir"

if ! [ -e "$dir" ]; then
    mkdir "$dir"

    # Create stow wrapper
    cat > "$dir/stow" <<EOF
#!/bin/sh
"$(which stow)" -t ~ "\$@"
EOF
    chmod +x "$dir/stow"
fi
