snippet _skel "Template"
#!/usr/bin/env bash

set -euo pipefail

$0
endsnippet

snippet "([a-zA-Z0-9_]+)=<<" "Multiline string" Ar
read -rd '' `!p snip.rv = match[1]` <<${1:EOF} || true
$0
$1
endsnippet

snippet "cat <<" "Multiline file write"
cat > $1 <<${2:EOF}
$0
$2
endsnippet

snippet for "For loop"
for ${1:var} in ${2:"$@"}; do
	${0:${VISUAL}}
done
endsnippet
